body {
    background-image: url('../ziyuan/back.jpg');
    background-size: cover;
    /*作用：让背景图等比例放大或缩小，刚好填满整个元素（比如页面或某个容器）。*/
    background-position: center;
    /*让背景图居中显示。*/
    background-repeat: no-repeat;
}

.zong {
    width: 480px;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 200px auto;
    background-color: rgba(255, 255, 255, 0.4);
    /* 半透明白底，防止文字看不清 */

}

.zong h2 {
    text-align: center;
}