        .navbar-custom {
            height: 65px;
            background-color: #414951;
            /* 深灰色背景 */
        }

        .navbar-custom h2,
        .navbar-custom .nav-link,
        .navbar-custom .dropdown-toggle {
            color: #fff;
        }

        #book-title,
        .book-detail {
            display: flex;
            margin-top: 60px;
            /* 向下移动 */
            margin-left: 300px;
            /* 向右移动 */
        }

        .book-detail img {
            width: 200px;
            height: auto;
            margin-right: 20px;
        }

        .download-btn {

            margin-top: 230px;
            /* 向下移动 */
            margin-left: 100px;
            /* 向右移动 */
        }